body{
/*background-color:#4A60D7; margin-left:10px;*/
<!--background-image:url("solid background.png");
background-attachment: fixed;
background-size: cover;
-->

}
p{color:black;}
div#navigation {
padding-left: 10%;
padding-
background-color:black;
}

div#navigation ul {
list-style-type: none;
font-family:verdana;
font-size:20px;
color:black;
line-height: 110%;
}
div#navigation ul li{
float:left;
}
div#navigation ul li a {
padding: 15px;
text-decoration: none; /*no underline*/
color: white;
border: 3px, outset;
font-family: applegothic;
text-align: center;
/*background-color: ;*/
} 

div#header{
	text-align:center;
}

#content{
	text-align:center;
	}
#content ul{
	list-style-type:none;
	}
	
#content table{
	margin-left:auto; margin-right:auto;
	}

<div#navigation>
a:link {
    color: black;
    background-color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color:#955F06;
    text-decoration: none;
}
a:active {
    color: black;
    background-color: black;
    text-decoration: none;
}
</div>
